.container{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.container .transacoes{
    padding-top: 20px;
}

.container .transacoes h2{
    font-size: 20px;
    
}
.container .transacoes span{
    color: burlywood; 
    padding-left: 10px;
}
.formulario{
    font-size: 20px;
}